@import "tailwindcss";
@import "@gentleduck/ui/styles.css";

@source "../../node_modules/@gentleduck/ui/src/";

@theme {
  --font-sans: var(--font-jetbrains-mono), "JetBrains Mono", ui-monospace, monospace;
  --font-mono: var(--font-jetbrains-mono), "JetBrains Mono", ui-monospace, monospace;
  --font-serif: var(--font-inria-serif), "Inria Serif", Georgia, serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
